<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>{% block title %}NothingHide{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}">
</head>
<body>
    {% block content %}{% endblock %}
    
    <div class="footer">
        <table class="footer-table">
            <tr>
                <td class="footer-left">
                    <a href="/email">Email Check</a><br>
                    <a href="/password">Password Check</a>
                </td>
                <td class="footer-center">
                    <a href="/help">Help</a><br>
                    <a href="/">About NothingHide</a>
                </td>
                <td class="footer-right">
                    Get breach alerts<br>
                    <form style="display:inline;">
                        <input type="email" placeholder="your e-mail" class="email-subscribe">
                        <button type="button" class="btn-small">Subscribe</button>
                    </form>
                </td>
            </tr>
        </table>
        <p class="copyright">Copyright 2025 Talwinder</p>
    </div>
</body>
</html>
